EMAILJS_PUBLIC_KEY=xxx
EMAILJS_SERVICE_ID=service_am4aeab
EMAILJS_OWNER_TEMPLATE_ID=template_yoy2y3c
EMAILJS_CUSTOMER_TEMPLATE_ID=template_h83zmn5
# Optional separate English confirmation template:
EMAILJS_CUSTOMER_TEMPLATE_ID_EN=
VITE_SITE_URL=https://mistrzowielogiki.pl
